<div id="viewport">
	<ul class="stack">
		{{#each portraits}}
			<li>
				<div class="face"><img src="{{face_url}}"></div>
				<div class="shoe"><img src="{{shoe_url}}"></div>
			</li>
		{{/each}}
	</ul>
</div>