
html, body {
    padding: 0;
    margin: 0;
    font-family: "FuturaMedium";
    background-color: white;
    letter-spacing: 0.88px;
    line-height: $globalLineHeight;
}

html {
    @extend .full;
    overflow-x: hidden;
    overflow-y: hidden;
}

#app-container  {
    
    // font smoothing
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    // disable text-selection & text cursor
    // @include user-select(none);
    cursor: default;

    // overall text params
    font-size: $globalFontSize;

    position: absolute;
    @extend .full;
}

#app-template {
    @extend .full;
}

#base-pager, #pages-container {
    @extend .full;
}

#pages-container {
    position: absolute;
    z-index: 10;
    & > div {
        @extend .full;
        position: absolute;
    }
    canvas { z-index: 3; }
}

.page-wrapper {
    position: absolute;
}

#preloader {
    position: absolute;
    z-index: 6;
    @include opacity(0);
}

#front-block {
    @extend .full;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    visibility: hidden;
}

#canvas-container {
    position: absolute;
    z-index: 299;
    @extend .top-left;
    @extend .btn;
    // border: 1px solid yellow;
    canvas {
        // border: 1px solid red;
    }
    .buttons-container {
        position: absolute;
        li {
            width: 100%;
            position: absolute;
            @extend .top-left;
            // @include opacity(0.7);
            &:nth-child(1) {
                // background-color: red;
                height: 25%;
                top: 5%;
            }
            &:nth-child(2) {
                // background-color: yellow;
                height: 23%;
                top: 30%;
            }
            &:nth-child(3) {
                // background-color: green;
                height: 24%;
                top: 53%;
            }
            &:nth-child(4) {
                // background-color: blue;
                height: 22%;
                top: 77%;
            }
        }
    }
}

#gui {
    position: relative;
    z-index: 999999999;
}

#portrait-transition-container {
    // @extend .full;
    position: absolute;
    z-index: 301;
    visibility: hidden;
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}    

