@mixin globalSlideTransition() {
    transition: transform .8s $easeInOutQuart;
}

@mixin simpleUpperText() {
	font-size: $globalFontSize;
    letter-spacing: 0.88px;
}

@mixin mobileColorAnimation() {
	@include simpleAnim(.6s, .0s, $easeOutQuint);
}