html.mobile {
	body {
		overflow: hidden;
	}
	overflow: hidden;
	#app-template {
		overflow: hidden;
	}
	#front-container {
		header {
			z-index: 9999999;
			width: 100%;
			background-color: $green;
			position: fixed;
			.logo {
				$scale: 0.6;
				$w: 122px;
				$h: 44px;
				width: $w * $scale;
				height: $h * $scale;
				left: $overallMargin / 2;
				top: $overallMargin / 2;
				position: absolute;
			}
		}
		.burger {
			$scale: 0.5;
			$w: 60px;
			$h: 34px;
			width: $w * $scale;
			height: $h * $scale;
			right: $overallMargin / 2;
			top: $overallMargin / 2;
			svg {
				@include mobileColorAnimation();
			}
		}
		.index-layer-container .background {
			opacity: 1;
		}
		ul.links-container {
			position: absolute;
			text-align: center;
			z-index: 2;
			li {
				margin: 20px 0;
				top: 0;
				left: 0;
			}
			a {
				font-size: 20px;
			}
		}
		.navigation-layer-container {
			position: absolute;
			$size: 100px;
			svg path {
				fill: black;
				@include mobileColorAnimation();
			}
			svg circle {
				@include mobileColorAnimation();
				stroke: black;
			}
			li {
				@include inline-block;
				position: relative;
				vertical-align: middle;
				width: $size;
				height: $size;
				color: black;
				@include mobileColorAnimation();
				.text-field-container {
					position: absolute;
					width: $size;
					height: $size;
					@extend .top-left;
					div, p {
						width: $size;
						height: $size;
					}
					p {
						white-space: normal;
						padding: 0 10px;
					}
				}
				.text-inside {
					$fs: 13px;
					// background-color: red;
					font-size: $fs;
					line-height: $fs + 4;
					text-align: center;
				}
			}
			.circle-arrow {
				$scale: 0.55;
				width: $size * $scale;
				height: $size * $scale;
			}	
			.arrow-left {
				@include rotate(180);
			}
		}
	}
}
.video-container {
	@extend .full;
    position: absolute;
    z-index: 5;
    visibility: hidden;
    .video-holder {
    	position: absolute;
    	z-index: 3;
    	@extend .full;
    }
    .background {
		@extend .full;
    	position: absolute;
    	z-index: 2;
    }
    video {
    	width: 100%;
    	position: relative;
    	top: 50%;
    	margin-top: -30%;
    }
}
.backgrounds {
	@extend .full;
    position: absolute;
    z-index: 1;
    ul {
		@extend .full;
    	li {
			@extend .full;
			position: absolute;
			@extend .top-left;
    	}
    }
}
#viewport {
	position: absolute;
    z-index: 2;
	.stack {
    	position: relative;
		li {
		    .relative {
			    position: absolute;
		    	top: 0;
		    	left: 0;
				z-index: 3;
				.holder {
					@extend .full;
					z-index: 1;
					border-radius: 10px;
		    		border: 4px solid #ECECEC;
			    	overflow: hidden;
			    	position: absolute;
				}
		    }
		    position: absolute;
		    cursor: default;
		    @include transform(translate3d(0px, 0px, 0px));
		    @include transform(translate(0px, 0px));
		    @include rotate(0);
		    .face {
				z-index: 2;
				@include opacity(1);
				@include simpleAnim(.6s, .0s, $easeOutQuint);
				top: 0;
		    	left: 0;
		    	position: absolute;
		    }
		    .shoe {
				z-index: 1;
				top: 0;
		    	left: 0;
		    	position: absolute;
		    }
		    .group-logo {
				z-index: 3;
				top: 0;
		    	left: 0;
		    	position: absolute;
		    	@include opacity(0);
		    	@include anim(.3s, .0s, $easeOutBack, scaleX(0.8) scaleY(0.8) translateY(10px));
		    	&.kings {
		    		top: -70px;
		    	}
		    	&.sport {
		    		top: -70px;
		    		left: 20px;
		    	}
		    	&.armours {
		    		top: -70px;
		    		left: 20px;
		    	}
		    	&.dino {
		    		top: -60px;
		    	}
		    }
		    &.show-shoe {
				.face {
					@include opacity(0);
					@include simpleAnim(.6s, .0s, $easeOutQuint);
				}
		    }
		}
	}
}
