* {
    backface-visibility: hidden;
    user-select: none;
    transform-style: flat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    outline: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
}
img { 
    border:0;
    border-style:none;
    outline : none;
    border: none;
}
svg, svg * {
    backface-visibility: hidden;
}
.clear-float {
    clear: both;
}
img {
    width: 100%;
}
a:-moz-focus-inner {
    border: 0;
    outline: none;
}
a:focus {
    border: 0;
    outline: none;
}
// for firefox image scale smoothing
img {
    -ms-interpolation-mode: bicubic;
}
// for ie
img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    zoom: 1;
}
.btn {
    cursor: pointer;
}
.relative {
    position: relative;
    width: 100%;
    height: 100%;
}
.full {
    width: 100%;
    height: 100%;
}
.top-left {
    top: 0;
    left: 0;
}
.vertical-center-parent {
    width: 100%;
    height: 100%;
    display: table;
}
.vertical-center-child {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}
.full-block {
    position: absolute;
    @extend .top-left;
}
h4 {
    font-size: 30px;
    line-height: 70px;
}
a {
    font-size: $globalFontSize;
    color: $white;
    text-decoration: none;
}
.arrow {
    position: absolute;
    polygon { fill: white; }
    svg, .background, .icons-wrapper { position: absolute; }
    svg {
        $size: $iconsSize;
        width: $size;
        height: $size;
        z-index: 2;
        @include opacity(1);
        @include anim(.3s, .0s, $easeInOutExpo, scale(1, 1) translateX(0px), 50%, 50%, transform opacity);
    }
    &.left svg { 
        left: -10px;
    }
    &.right svg {
        left: 10px;
    }
    .background {
        position: absolute;
        z-index: 0;
        background-size: 100%;
    }
    &.hovered {
        &.left svg { 
            @include opacity(0);
            @include anim(.4s, .0s, $easeOutExpo, scale(1.2, 0.5) translateX(-10px), 50%, 50%, transform opacity);
        }
        &.right svg {
            @include opacity(0);
            @include anim(.4s, .0s, $easeOutExpo, scale(1.2, 0.5) translateX(10px), 50%, 50%, transform opacity);
        }
    }
}
#transition-map {
    @extend .full;
    background-color: $green;
}
.map-wrapper {
    position: absolute;
    z-index: 4;

    &.green-mode {
        $time: 1.4s;
        $ease: $easeOutCirc;
        svg text {
            @include simpleAnim($time, .0s, $ease);
            fill: white;
        }
        .titles-wrapper {
            @include simpleAnim($time, .0s, $ease);
            color: white;
        }
        g#map-dots {
            circle {
                @include simpleAnim($time, .0s, $ease);
                fill: white;
            }
        }
        svg #map-bg {
            @include simpleAnim($time, .0s, $ease);
            fill: $green;
            stroke: white;
        }
        svg #mallorca-logo path {
            @include simpleAnim($time, .0s, $ease);
            fill: white;
        }
    }

    svg text {
        fill: $green;
        font-family: FuturaMedium;
        font-size: 20px;
        letter-spacing: 0.85px;
        line-height: 15.85px;
    }
    .titles-wrapper {
        color: $green;
        position: absolute;
        top: 0;
        left: 0;
        font-family: Hobo;
        font-size: 11px;
        letter-spacing: 0.85px;
        line-height: 15.85px;
        & > div {
            white-space: nowrap;
            position: absolute;
            z-index: 2;
        }
    }
}
.text-btn {
    text-transform: uppercase;
    @include simpleUpperText();
    position: absolute;
    white-space: nowrap;
    .rects-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        & > div {
            position: absolute;
            width: 100%;
        }
        .bg-box {
            height: 100%;
            background-color: $green;
        }
        .bg-line {
            $h: 2px;
            height: $h;
            top: 50%;
            margin-top: -$h;
            background-color: $green;
        }
    }
    .inside-wrapper {
        position: relative;
        overflow: hidden;
        @extend .full;
    }
    .background {
        position: absolute;
        top: -111%;
        left: -23%;
        width: 140%;
        height: 300%;
    }
}
.main-text-btn {
    overflow: hidden;
    text-transform: uppercase;
    position: absolute;
    white-space: nowrap;
    font-size: $globalFontSize;
    & > div {
        position: absolute;
        top: 0;
        left: 0;
        font-size: $globalFontSize;
    }
    .text-front {
        z-index: 3;
    }
    .line {
        z-index: 4;
        width: 100%;
    }
    .background-front {
        z-index: 2;
        background-repeat: repeat-x;
        background-size: cover;
        overflow: hidden;
    }
    .text-back {
        z-index: 1;
    }
}

#main-loader {
    position: absolute;
    @extend .full;
    z-index: 999999;
    .background {
        position: absolute;
        @extend .full;
    }
    .spinner-wrapper {
        @include opacity(0);
        height: 100px;
    }
    .logo {
        @include opacity(0);
        position: absolute;
        z-index: 2;
        $scale: 1;
        $w: 200px * $scale;
        $h: 70px * $scale;
        width: $w;
        height: $h;
        left: 50%;
        top: 44%;
        margin-left: -$w/2;
        margin-top: -$w/2;
        svg > * {
            fill: $white;
        }
    }
}
.spinner-wrapper {
    $scale: 0.8;
    $w: 80px * $scale;
    position: absolute;
    z-index: 2;
    width: $w;
    height: $w;
    left: 50%;
    top: 50%;
    margin-left: -$w / 2;
    margin-top: -$w / 2;
    @include opacity(1);
    @include anim(.0s, 0s, $easeInOutExpo, scale(1), 50%, 50%, transform opacity);
    &.closed {
        @include opacity(0);
        @include anim(.6s, 0s, $easeInOutExpo, scale(1.1), 50%, 50%, transform opacity);
    }
}
