#portrait-page {

	.morphing-video-container {
		position: absolute;
		z-index: 2;
		@include opacity(0);
		&.open {
			@include opacity(1);
        	@include anim(.1s, .0s, $easeOutExpo, scale(1, 1) translateX(0px), 50%, 50%, transform opacity);
		}
	}
	.discover-text-container {
		position: absolute;
		z-index: 3;
		text-transform: uppercase;
		color: $white;
		white-space: nowrap;
		@include opacity(0);
	}
	#background-video-container {
		@include anim(.1s, .0s, $easeOutExpo, scale(1.2), 50%, 50%, transform);
		&.show {
			@include anim(.6s, .3s, cubic-bezier(0,.99,.73,1.01), scale(1), 50%, 50%, transform);
		}
	}
}