#product-page {
	@extend .full;
	canvas {
		@extend .full;
		position: absolute;
		@extend .top-left;
		z-index: 2;
	}
	.background {
		@extend .full;
		position: absolute;
	}
	.diptyque-parts {
		@extend .full;
		@extend .top-left;
		position: absolute;
		& > * {
			position: absolute;
			left: 0;
			top: 0;
		}
		.left-part {
			// background-color: red;
		}
		.right-part {
			// background-color: blue;
		}
	}
}