<div class="buttons-container">
	<div class="relative">
		<ul>
			<li class="btn" data-group="kings" data-url="{{url}}/kings/fidelius"></li>
			<li class="btn" data-group="armours" data-url="{{url}}/armours/wilma-extreme"></li>
			<li class="btn" data-group="dino" data-url="{{url}}/dino/rex"></li>
			<li class="btn" data-group="sport" data-url="{{url}}/sport/marges"></li>
		</ul>
	</div>
</div>