
<div class="left-arrow arrow btn">
	<svg width="100%" viewBox="0 0 10.844 12.062"><path d="M2.755,5.17l3.636-5.076H4.354L0.084,6.031l4.738,5.938h2.03L2.773,6.831h7.986V5.17H2.755z"/></svg>
</div>

<div class="right-arrow arrow btn">
	<svg width="100%" viewBox="0 0 10.844 12.062"><path d="M2.755,5.17l3.636-5.076H4.354L0.084,6.031l4.738,5.938h2.03L2.773,6.831h7.986V5.17H2.755z"/></svg>
</div>