#front-container {
    position: fixed;
    z-index: 20;
    text-transform: uppercase;
    &, a {
        font-size: $globalFontSize;
        color: $white;
        white-space: nowrap;
        font-size: 16px;
        letter-spacing: 0.88px;
        line-height: $globalLineHeight;
    }
    .logo {
        position: absolute;
        $w: 100px;
        $h: 36px;
        width: $w;
        height: $h;
        @include screen(0px, $MQ_MEDIUM) {
            width: $w * 0.8;
            height: $h * 0.8;
        }
        left: $PADDING_AROUND;
        top: $PADDING_AROUND;
    }
    header {
        & > * {
            position: absolute;
        }
        z-index: 16;
        position: absolute;
        @include anim(.6s, .0s, $easeOutExpo, translateY(- $overallMargin - 40), 0%, 100%, transform);
        &.show {
            @include anim(.6s, .0s, $easeOutExpo, translateY(0), 0%, 100%, transform);
        }
        .shop-wrapper {
            .shop-title {
                margin-right: 0px;
            }
        }
        .shop-wrapper {
            text-align: left;
            overflow: hidden;
            li {
                top: 8px 0;
                position: relative;
                .main-text-btn {
                    @include inline-block;
                    position: absolute;
                }
            }
            li.sub-1 {
                top: 6px;
            }
        }
        .shop-wrapper {
            overflow: visible;
            ul.submenu-wrapper {
                position: relative;
                top: 21px;
                @include opacity(0);
                @include anim(.2s, .0s, $easeOutExpo, translateY(5px), 0%, 100%, transform opacity);
            }
            &.hovered {
                ul.submenu-wrapper {
                    @include opacity(1);
                    @include anim(.6s, .0s, $easeOutExpo, translateY(0), 0%, 100%, transform opacity);
                }
            }
        }
    }
    #arrows-container {
        .arrow {
            @extend .full-block;
        }
        .right-arrow {
            svg {
                @include rotate(180);
            }
        }
        svg {
            $scale: 1.8;
            width: 12px * $scale;
            height: 13px * $scale;
        }
    }
    .index-layer-container {
        position: absolute;
        z-index: 15;
        .background {
            background-color: black;
            opacity: 1;
        }
    }
}
