#portrait-page {
	#background-video-container, .morphing-video-container {
		@extend .full-block;
		video {
			width: 100%;
			height: 100%;
		}
	}
	.morphing-video-container {
		position: absolute;
		z-index: 2;
		@include opacity(0);
		&.open {
			@include opacity(1);
        	@include anim(.1s, .0s, $easeOutExpo, scale(1, 1) translateX(0px), 50%, 50%, transform opacity);
		}
	}
}